.ant-timeline-item {
  font-size: 1.2rem !important;
}


.gr {
  background: #FF0000;
background: linear-gradient(to left, #FF0000 0%, #000000 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;


}