.ant-timeline-item {
  font-size: 1.2rem !important;
}


.gre {
  background: #BA4396;
  background: radial-gradient(circle farthest-corner at center center, #BA4396 0%, #FF6BFA 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  


  
  

}