.gr {
    background: -webkit-linear-gradient(-70deg, #a2facf 0%, red 5%, rgb(6, 3, 62) 25%, #1e129b 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
}
   
    
    
