.navBar {
  width: 90%;
  height: 60px;
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  position: fixed;
  z-index: 1;
  top: 5px;
  scrollbar-color:turquoise;
  
}
.scrollon{
  background-color: turquoise;
}
.scrolloff{
  background-color: white;
}
.navBar_Child {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: bolder;
  color: #356750;
}
.pagedown{
  margin-top: 300px;
}